.Basket {
  width: 100%;

  &-Container {
    margin: 180px auto;
    width: 995px;
    height: 483px;
    border: 1px solid #000;
    position: relative;
  }

  &-Whitebox {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    margin-top: -1px;
    margin-left: -1px;
    height: 483px;
    width: 246px;
  }

  &-Title {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto';
    width: 17vw;
    margin-top: 35px;
    font-weight: lighter;
  }

  &-Img {
    background-color: lightgrey;
    width: 139px;
    height: 139px;
    margin-left: 60px;
    margin-top: 30px;
  }

  &-Name {
    font-size: 22px;
  }
}
