// .container{
//   margin-left: 19%;
//   margin-top: 2%;
//
// }

.Player{
  position: relative;

&-nav{
  display: flex;
  justify-content: flex-end;
  width: 840px;

  &-title{
    color: #4A4A4A;
    font-size: 20px;
    padding-right: 30px;
  }
  &-text{}
}

&-content{
  position: absolute;
  background-color: brown;
  height: 490px;
  width: 840px;
  }
}
