// global
@import './global/reset';
@import './global/variables';

// mixins
@import './mixins/forsize';

// components
@import './components/header';
@import './components/main';
@import'./components/footer';
@import'./components/section';

//font



* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {

}
