// global
@import './global/reset';
@import './global/variables';

// mixins
@import './mixins/forsize';

// components
@import './components/header';

@import './components/main';
@import'./components/footer';
@import'./components/section';
@import'./components/player';
@import './components/connexion';
@import './components/events';
@import './components/socialmedia';
@import './components/basket';

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 16px;
}

body {
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 0;
}

.container {
  position: relative;
  z-index: 2;
}
